@import "../mixins";

.actor-wrapper {
  @include flex($dir: column);
  height: 100%;
  flex: 3;
  padding: 2vh;
  .info {
    @include flex($justify: space-between, $align: center);
    width: 100%;
    padding: 2vh;
    .dice-wrapper {
      :first-child {
        margin-bottom: 1vh;
      }
    }
  }
}
