@import "../../mixins";

.health-wrapper {
  @include flex;
  width: 100%;
  height: 2vh;
  background-color: rgb(204, 63, 63);
  border: 2px solid black;
  &.reverse {
    @include flex(row-reverse);
  }
  .remaining {
    background-color: rgb(101, 209, 101);
    height: 100%;
  }
}
